//version2.0
$blue1:#00B0EC;
$blue2:rgba(22,155,213,1);//#169BD5;
$blue_Opacity:rgba(22,155,213,.8);
$light-blue-bg:#F2F8FB;
$red-text-color:#F56C6C;
/******全局颜色变量在这个文件******/
//背景色
$sky-blue-color:#00B0EC;//主页 头部 搜索按钮的颜色
$sky-blue-active-color:#30BDED;
$blue-color-txt:#02B1EC;
$blue-bgBtn:rgba(0,160,233,1);//蓝色按钮背景
$blue-bgBtn2:#20A4DA;//蓝色按钮背景
$blue-bgBtn-hover:rgba(0,160,233,.8);
$blue-btn-border:#3BBAF5;
$gray-border:#9D9D9D;//灰色边框
$sky-blue-color-opacity8:#30BDED;
$sky-blue-color-opacity2:#C2E5F1;
$sky-blue-color-opacity1:#DAEBF1;
$blue1-color:rgba(22,155,213,1);
$blue1-color-opacity:rgba(22,155,213,.85);
//灰色
$gray-border-color:#DCDFE6;
$gray-bg-hover-color2:#EEEFF0;
//文字 颜色
$sky-blue-text-color:#00B0EC;
$gray-text:#989898;

